body {
    background-color: #A7C;
    color: #8B5D33;

    font-size:16px;
    font-weight: 500;

    font-family: "Montserrat", sans-serif;
}

.avatar {
    width: 250px;
    border-radius: 24px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0, 25)   
}

.title {
    text-transform: lowercase;
    font-size: 28px;
    letter-spacing: 2px;
}

.card {
    background-color: red;
    border-radius: 24px;
    padding: 10 15px;
    margin-top: 30px;
    box-shadow: 4px 4px 14px rgba (0,0, 0, 0, 25 )
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.list {
    background-color: #A7C;
}

.list li {
    background-color: #8B5D33;
}

.list li:hover {
    background-color: bisque;
    color: white
}

.table {
    margin-top: 15px;
    widht: 100%;
}

.table tr:nth-child(1) td {
    background-color: #869D7A;
}

a {
    color: #8b5d33;
    text-decoration: none
}

a:hover {
    opacity: 0.5;
}

a:active {
    color: orange
}

a:visited {
    color: purple;
    opacity: 0.5;
}

box {
    background-color: aqua;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.inner {
    width: 50px;
    height: 50px;
    background-color: bisque;
    border: 4px red;
}

.inner a {
    color: white
    font-size: 72px
}
@media (max-width:500px) {
    body {
        font-size: 12px;
    }
    .title {
        font-size: 18px;
    }

    .avatar {
        width: 150px;
    }
}